<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">{{title}}</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item m-2">Latest Rates:</li>
      <li class="nav-item m-2">USD: {{usdToUah}}</li>
      <li class="nav-item m-2">EUR: {{eurToUah}}</li>
    </ul>
  </header>
</div>
<div class="block">
  <div class="mb-3">
    <label for="inputCurrency" class="form-label">Input Currency</label>
    <div class="input-group mb-3">
      <input type="number" id="inputCurrency" class="form-control" aria-label="Text input with dropdown button" (input)="oninputValue1Input($event)" [value]="inputValue1">
      <button class="btn btn-outline-secondary dropdown-toggle" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{currencyFrom == "" ? 'From' : currencyFrom}}</button>
      <ul class="dropdown-menu dropdown-menu-end my-dropdown" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let curr of currencies"><a class="dropdown-item" href="#" (click)="onDropdown1Click($event)">{{curr}}</a></li>
      </ul>
    </div>
    <label for="outputCurrency" class="form-label">Output Currency</label>
    <div class="input-group mb-3">
      <input type="number" id="outputCurrency" class="form-control" aria-label="Text input with dropdown button" (input)="oninputValue2Input($event)" [value]="inputValue2">
      <button class="btn btn-outline-secondary dropdown-toggle" id="dropdownMenuButton2" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{currencyTo == "" ? 'To' : currencyTo}}</button>
      <ul class="dropdown-menu dropdown-menu-end my-dropdown" aria-labelledby="dropdownMenuButton2">
        <li *ngFor="let curr of currencies"><a class="dropdown-item" href="#" (click)="onDropdown2Click($event)">{{curr}}</a></li>
      </ul>
    </div>
  </div>
</div>


